
.categories-panel {
    width: 90%;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories-panel h3 {
    margin-bottom: 0;
}

.categories-panel form {
    width: 100%;
    height: auto;
    margin-top: 0;
    padding: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.categories-panel input {
    width: 30%;
    height: 25px;
    padding: 0 10px 0 10px;

    border: 1px solid black;
    border-radius: 20px;
}
.categories-panel form div {
    width: 180px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.categories-panel button {
    width: 120px;
    height: 25px;
    margin: 0;
    margin-left: 10px;

    border: 1px solid black;
    border-radius: 20px;
}

@media only screen and (max-width: 720px) {
    .categories-panel form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .categories-panel input, .categories-panel button {
        width: 80%;
    }
    .categories-panel button {
        width: 80%;
        margin-top: 5px;
    }
  }