
.room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: var(--color-1);
}

.letters-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.letter {
    width: 30px;
    height: 30px;
    margin: 5px;

    background-color: var(--color-2);
    border-radius: 50px;
    border: solid black 1px;
    box-shadow: -2px 3px 1px black;

    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.letter:hover {
    background-color: var(--color-2-hover);
}

.disabled {
    width: 30px;
    height: 30px;
    margin: 5px;

    background-color: var(--color-5);
    border-radius: 50px;
    border: solid black 1px;
    box-shadow: -2px 3px 1px black;

    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.disabled:hover {
    background-color: var(--color-5-hover);
}

.current-letter {
    width: 30px;
    height: 30px;
    margin: 5px;

    background-color: var(--color-4);
    border-radius: 50px;
    border: solid black 1px;
    box-shadow: -2px 3px 1px black;

    font-weight: bold;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}
.current-letter:hover {
    background-color: var(--color-4-hover);
}


.room-response-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
}
.room-response-div h3 {
    margin: 0;
    margin-top: 10px;
}
.room-response-div form {
    height: 60px;
    width: 100%;
    margin-top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.room-response-div div {
    width: 170px;
    display: flex;
    justify-content: center;
}


.room-response-div input {
    border: solid black 1px;
    border-radius: 20px;

    width: 30%;
    height: 30px;
    padding: 0 10px 0 10px;
}
.room-response-div button {
    width: 80px;
    height: 30px;
    margin-left: 10px;
    margin-top: 0;

    border: solid black 1px;
    border-radius: 20px;
}
.room-response-div form p {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    border: solid black 1px;
    border-radius: 50px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player-response-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.player-response-div p, .player-response-div h2, .player-response-div h4 {
    margin: 0;
}
.player-response-div h4 {
    color: rgb(67, 67, 67);
}
.player-response-div span {
    color: rgb(96, 35, 0);
}

.player-response-div p {
    width: 80%;
    height: 30px;
    margin-top: 10px;

    background-color: var(--color-2-hover);
    border-radius: 20px;
    border: solid black 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}