.home-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0;
  width: 100%;
  height: 100%;
}

.home-title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 55px;

  color: white;
  text-shadow: -2px 5px 0px black;
}

.card {
  background-color: var(--color-1);
  text-transform: uppercase;
  font-weight: bold;

  width: 400px;
  margin: 10px;
  padding: 20px 0 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 20px;
  border: solid black 2px;
  box-shadow: -2px 3px 1px black;
}
form label {
  margin-bottom: 10px;
}
button {
  background-color: var(--color-2);
  box-shadow: -2px 3px 1px black;
  border: solid black 2px;
  border-radius: 20px;

  width: 150px;
  height: 40px;
  margin-top: 5px;

  font-size: 18px;

  cursor: pointer;
}
button:hover {
  animation-name: button-hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
button:not(:hover) {
  animation-name: button-not-hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes button-hover {
  0% {
    width: 150px;
  }
  100% {
    width: 170px;
  }
}
@keyframes button-not-hover {
  0% {
    width: 170px;
  }
  100% {
    width: 150px;
  }
}

input {
  background-color: var(--color-2-hover);
  border: 1px solid black;
  border-radius: 20px;

  padding: 5px;
  margin: 2px;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.637);
}

.nickname-form {
  background-color: #ff9b50;

  width: 400px;
  height: 100px;
  margin: 10px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 20px;
  border: solid black 2px;
  box-shadow: -2px 3px 1px black;
}
.nickname-form-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nickname-form-input input {
  position:relative;
  left: 25px;
}
.dice {
  display: flex;
  justify-content: center;
  align-items: center;

  position:relative;
  left: 15px;
  width: 50px;

  cursor: pointer;
}
.dice svg {
  font-size: 18px;
  transform: rotate(15deg);
}
.dice svg:hover {
  animation-name: dice-hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
.dice svg:not(:hover) {
  animation-name: dice-not-hover;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes dice-hover {
  0% {
    font-size: 18px;
  }
  100% {
    font-size: 24px;
  }
}
@keyframes dice-not-hover {
  0% {
    font-size: 24px;
  }
  100% {
    font-size: 18px;
  }
}

.create-room-name-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-room-name-input input {
  position:relative;
  left: 25px;
}

/* ROOM */

.home-room-main {
  display: flex;
  justify-content: center;
  align-items:flex-start;

  width: 80%;
  height: auto;
}
.home-room {
  background-color: var(--color-1);
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: -2px 3px 1px black;

  width: 80%;
  min-height: 400px;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.room-subtitle {
  margin-top: 15px;
  font-size: 20px;

  color: rgba(0, 0, 0, 0.444);
}
.start-button {
  margin-top: 20px;
}



@media only screen and (max-width: 800px) {
  .home-room-main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home-room {
    width: 100%;
  }
}